# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl
terraform/temp/*

# IDE
.idea/*
.vscode/*
.ionide/
__pycache__

# Project
.env
.venv
*.html

# Crash log files
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
